*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(53, 53, 53);
}


.container{
    display: flex;
    /* background-color: orange; */
    height: 10em;
    width: 30em;
    align-items: center;
    justify-content: space-evenly;
    
}



.container_item{
    background-color: aliceblue;
    height: 85%;
    width: 20%;
    border-radius: 50%;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function:ease-in;
    animation-name: circle;
}



.n1{
    animation-delay: 0.2s;
}
.n2{
    animation-delay: 0.4s;
}
.n3{
    animation-delay: 0.6s;
}
.n4{
    animation-delay: 0.8s; 
}



@keyframes circle{
    0%{height: 85%;box-shadow: 0 3px 10px 0 whitesmoke;}
    100%{height: 40%;/* box-shadow: 0 0 10px 0 whitesmoke; */}

}





